
.navbar {
    margin-bottom: 20px;
    background-color: #003366;
  }
  
  .navbar-brand {
    font-weight: bold;
    
  }
  
  .nav-link {
    margin-right: 20px;
  }
  
  .btn-outline-danger {
    margin-left: auto;
  }
  