
.sign-in-container {
    margin-top: 100px; 
    margin-bottom: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sign-in-container .btn-group {
    width: 100%;
    margin-top: 20px; 
    background-color: #003366;
    border-color: #003366;
  }
  
  .sign-in-container .btn-group .btn {
    width: 50%;
    background-color: #003366;
    border-color: #003366;
  }
  
  .sign-in-container .form-group {
    margin-bottom: 1rem;
  }
  
  .sign-in-container .form-control {
    height: 50px; 
  }
  
  .sign-in-container .btn-primary {
    background-color: #003366;
    border-color: #003366;
  }
  